<h1>Here is the info about the user <%= @user_id %> </h1>
<div class="user">
  <div class="photo">
    <% if @user.photo.present? %>
    <%= image_tag @user.photo, size: "100x100" %>
    <% else %>
    <%= image_tag "default-avatar.jpg", size: "100x100" %>
    <% end %>
  </div>
  <div class="user-details">
    <h3><%= @user.name %></h3>
    <p class="user-posts">Number of Posts: <%= @user.posts.count %></p>
  </div>
</div>
<div class='bio'>
  <h2 class = "p-bio">Bio</h2>
  <p class = "p-bio"><%= @user.bio %></p>
</div>
<% if @most_recent_posts.any? %>
  <% @most_recent_posts.each do |post| %>
    <%= link_to user_post_path(@user, post) do %>
      <div class="bio">
        <h4 class = "p-bio">Post #<%=post.id%></h4>
        <p class = "p-bio"><%= post.text %></p>
        <p class = "user-posts">comments: <%= post.comments_counter %>,
        Likes: <%= post.likes_counter %></p>
      </div>
    <% end %>
  <% end %>
  <div class="add">
  <button id="show-more-btn">
    <%= link_to 'Show More', user_posts_path(@user) %>
  </button>
  <button id="show-more-btn"><%= link_to "Create New Post", new_user_post_path(@user) %></button>
  </div>
<% else %>
  <p>No recent posts.</p>
<% end %>